.env*
!.env.defaults
!.env.prod
!.env.staging
!.env.local.example

.claude/
__pycache__/

*.pyc
.pytest_cache/

postgres-data/*
!postgres-data/.gitkeep

prosody-data/*
!prosody-data/.gitkeep

prosody-certs/*
!prosody-certs/.gitkeep

secrets/*
!secrets/.gitkeep

backups/*
!backups/.gitkeep

monitoring-data/*
